<!-- Modal -->
<div id="author_info" class="modal fade" role="dialog" style="max-width: 900px;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!--
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Authorship</h4>
      </div>
        -->
      <div class="modal-body">
        <h1>Authorship</h1>
        <p>The <em>Author</em> can have the following values:
        <ul>
          <li><b>Undecided</b>: default mode, a decision needs to be made by the lila editors</li>
          <li><b>Dubius</b>: there is no consensus in scholarship, but ‘real’ authors are posited</li>
          <li><b>Anonymus</b>: no author or only pseudo-authors have been associated with the sermon in scholarship</li>
          <li><b>Name</b>: only one real person is associated with the sermon OR there is a consensus in scholarship</li>
        </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>