{% load i18n %}

<span id="collection_buttons">
  <!-- Listview: Manuscripts -->
  <a id="coll_button_manu" title="List of manuscripts filtered on this PD/HC" 
      class="btn btn-xs jumbo-3" href="{{url_manu}}">
    <span>Manuscripts...</span>
  </a>
  <!-- Listview: Canwits -->
  <span>&nbsp;</span>
  <a id="coll_button_manu" title="List of sermons filtered on this PD/HC" 
      class="btn btn-xs jumbo-2" href="{{url_sermo}}">
    <span>Canwits...</span>
  </a>
  <!-- Listview: Sermons Gold -->
  <span>&nbsp;</span>
  <a id="coll_button_manu" title="List of sermons gold filtered on this PD/HC" 
      class="btn btn-xs jumbo-1" href="{{url_gold}}">
    <span>Gold...</span>
  </a>
  <!-- Listview: Super sermons Gold -->
  <span>&nbsp;</span>
  <a id="coll_button_manu" title="List of Authoritative statements filtered on this PD/HC" 
      class="btn btn-xs jumbo-3" href="{{url_super}}">
    <span>Authority...</span>
  </a>
</span>
