{% if statuscode == "completed" %}
  <div class='col-md-12'>
    <p>
    The CSV author list has been processed, and {{results.count}} new authors have been added.
    </p>
    <p>
      Possible actions:
      <ul>
        <li><b>Show</b> show the list of authors that have been added
          <button class="btn btn-default btn-sm dropdown-toggle"
                  type="button" data-toggle="collapse" data-target="#csv-list">List</button>
        </li>
      </ul>
    </p>
  </div>

  <div class="col-md-12 collapse" id="csv-list">
    <table>
      <thead><tr><th>#</th><th>Name</th></tr></thead>
      <tbody>
        {% for item in results.added %}
          <tr><td>{{forloop.counter}}</td><td>{{item}}</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endif %}

<!-- Any errors are shown here too-->
<div class="errors">
  {% if error_list and statuscode != "error" %} 
    <h4>Errors:</h4>
    <div>statuscode = {{statuscode}}</div>
    {% for item in error_list %}
      <div class="error-item">{{item}}</div>
    {% endfor %}
  {% endif %}
</div>
