  <image class="watermark-img" width="16" height="16" x="0" y="0" style="opacity: 0.2 "
         href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABfVBMVEUAAAAsPGNddX9tem+h
nl6Pj15BS2ErNmEfP19XbXyOr52ludFhc5NifIJwgqAcOFRXbnxidJUrO2GlutEuPmJacX1rfJxZ
a4uHmraOor6Po72Oor2ClbKGmbVkfYRpepped4COr5wvOmRhcpJYcHxqb19rcF+6tF5Xb3wtOGB0
d1+WlF9kfoR7mZF0kY2kyqqPn32ioGeSnJSTpbyvxNuhx6ihxqhuiopjb4iTpsHA1uq80ea90+eJ
qpo+UG0rOWJZY4NhcZFyfZk4RWstO2RcbY59mZicsMiit882RWxDT3OxtcLs7OzW2Nw2Q2qMn7p4
kZqzyN5DUnhSXX6zt8NsdZCDlrK5z+RNWHrr6+tha4hHV3y3zeJEUHRncY5vfZqIm7dGUnWDlbK9
0uezyd6pvtWUp8G/1emWqsKCmqV8mZaFpZeNr5ydscl7lZmZvaNRXH1jd4+OsJ2csMmlutJWYYGA
npS6s1+cnGhUXmzX2N2An5XYzl6Vlnf////0Ll62AAAAL3RSTlMALpTX99eVLwiX/f2Yv8AJmJkv
/jGWmNja+Pr4+tjalpf+MJeYvpb9ly2T1vX21jtsjLkAAAABYktHRH4/uEFzAAAAB3RJTUUH5QsW
FRYHEO5YLAAAAOBJREFUGNNjYAACRiZmFhZWNnYGCODg5NI3MDQyNuHm4QDzeU3NzC0sraxtrGz4
+IECAqa2dvYOjk7OLq7WNoIMDEJcbu4enl7ePr5+9v5WwiIMogGBVlZBwSE+PqH2YVZWYgzi4VZA
gYgQn8io6BgrKwkGSSuQgH1sXHyCDZAlxSANFkhMSgbRKakyDLJggeA0q/SMzKzsHDkGeahAbl6+
PhAoMAhxgwQKCotAXH1FJQYG5eISm6DSMjDfVAXkdNXyisqqajCfF+IZNfWaWpAAlwYH1L+aWto6
unpMjCA2AJVpMzSjsC4fAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIxLTExLTIyVDE4OjIyOjA3KzAz
OjAwtirGDwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMS0xMS0yMlQxODoyMjowNyswMzowMMd3frMA
AAAASUVORK5CYII=" />
  <g xmlns="http://www.w3.org/2000/svg" fill="#0000ff" transform="translate(16.0, 13.0) scale(0.4, 0.4)" style="opacity: 0.2 ">
    <text class="watermark-text">Retrieved from solemne: {{datestamp}}</text>
  </g>	
